@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  @layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Roboto.woff2) format('woff2');
  }
}
}

input {
  caret-color: #636363; /* aquí el color del cursor*/
}

.inputL:-webkit-autofill {
  @apply border-0 !important; /* Elimina el borde */
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important; /* Quita el borde y fondo */
  box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: #636363;
  caret-color: #636363; /* Cambia el color del cursor */
}

.inputDark:-webkit-autofill {
  @apply border-0 !important; /* Elimina el borde */
  -webkit-box-shadow: 0 0 0 1000px #000000 inset !important; /* Quita el borde y fondo */
  box-shadow: 0 0 0 1000px #000000 inset !important;
  -webkit-text-fill-color: #000000;
  caret-color: #FFFFFF; /* Cambia el color del cursor */
}

.gradient-text {
  background: linear-gradient(90deg, #87DBFF, #EAC7FF);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Oculta el scrollbar en navegadores basados en WebKit */
}
.no-scrollbar {
  -ms-overflow-style: none;  /* Oculta el scrollbar en Internet Explorer */
  scrollbar-width: none;     /* Oculta el scrollbar en Firefox */
}
